
body {
    background-color: #3B413F;
    color: rgb(0, 0, 0);
    padding-left: 10px;
    font-family: sans-serif;
    padding: 0px;
    width: 80%;
margin-left: auto;
margin-right: auto;
}  


h1 {
    font-size: 50px;
    font-family: sans-serif;
    color: black;

   }

h2 {
    font-size: 15px;
    font-family: sans-serif;
    border: 5px solid white;
    background-color: azure;
    padding-left: 10px;
   
}

p {
    font-size: 12px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    background-color: azure;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;

}


ol { 
    list-style-type: lower-alpha;

}

ul {
    list-style-type: square;

}

img {border:solid black 2px;
    object-fit: contain;
    max-width: 100%;
    height: auto;
}


a { font-size: 20px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-decoration: none ;   
}


#header {
    background-color: #E36749;
    padding: 30px;
    text-align: left;
    font-size: 35px;
    color: white;
  }
  
 
#section {
    background-color: #EAEAEA;
    padding: 30px 30px 30px 30px;
    color: black;
    font-size: 15px;
    font-family: sans-serif;
    color: rgb(16, 16, 16);
    
}

#nav {
    padding: 5px;
    background-color: #5D8E7E;
    color: #000000;
}